<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Dashboard</title>
</head>
<body>
    <div class="alert-container">
        <h1>Knife Detection Alerts</h1>
        {% if original_image and annotated_image and detection_time %}
            <div class="image-container">
                <div class="image-box">
                    <h3>Original Image</h3>
                    <img src="{{ url_for('static', filename='images/original/' + original_image) }}" alt="Original Image">
                    <p>Detection Time: {{ detection_time }}</p>
                </div>
                <div class="image-box">
                    <h3>Annotated Image</h3>
                    <img src="{{ url_for('static', filename='images/annotated/' + annotated_image) }}" alt="Annotated Image">
                    <p>Detection Time: {{ detection_time }}</p>
                </div>
            </div>
        {% else %}
            <p>No alerts detected yet.</p>
        {% endif %}
    </div>
</body>
</html>
