<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <script src="{{ url_for('static', filename='js/dashboard.js') }}" defer></script>
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <h1>Knife Detection Dashboard</h1>
        <div class="logout">
            <a href="{{ url_for('logout') }}">Logout</a>
        </div>
        <div class="image-selector">
            <label for="image-select">Choose an image:</label>
            <select id="image-select" onchange="updateImages()">
                {% for image in image_list %}
                    <option value="{{ image.timestamp }}" {% if image.timestamp == selected_image %}selected{% endif %}>
                        {{ image.formatted_timestamp }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="image-container">
            <div class="image-box">
                <h3>Original Image ({{ selected_formatted_timestamp }})</h3>
                <img id="original-image" src="{{ url_for('static', filename='images/original/' + selected_original) }}" alt="Original Image" onclick="openimgmodel(this.src)">
            </div>
            <div class="image-box">
                <h3>Annotated Image ({{ selected_formatted_timestamp }})</h3>
                <img id="annotated-image" src="{{ url_for('static', filename='images/annotated/' + selected_annotated) }}" alt="Annotated Image" onclick="openimgmodel(this.src)">
            </div>
        </div>
        <div class="email-form">
            <label for="recipient-email">Send selected images to email:</label>
            <input type="email" id="recipient-email" placeholder="Enter recipient email" required>
            <button onclick="sendEmail()">Send Email</button>
        </div>
    </div>

    <div id="image-imgmodel" class="imgmodel">
        <span class="close" onclick="closeimgmodel()">&times;</span>
        <img class="imgmodel-content" id="imgmodel-image">
    </div>
</body>
</html>
